[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
mysqlclient = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pysftp = "*"
python-dotenv = "*"

[dev-packages]
django-stubs = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.12"
